.content{
margin: 20em auto 1.5em;
max-width: 1200px;
}

.scpic1{
  background-image: url('../img/about.jpg');
  background-size: cover;
  background-position: top;
  height:30em;
  padding: 1em;

}

.about-text{
  padding: 1em;
  font-size: 25px;
  color:#222;
}



.offers{
  max-width: 1230px;
  margin: 0 auto;
}

.img-thumbnail{
  margin: 0.5em 0em;
  border-style: none;
}

/*@mixin para-props{
  font-size: 17px;
  padding: 7em 5em 0 5em;
  margin: 0 auto;
}
@mixin para-props2{
  font-size: 17px;
  padding:5em 1em 0 1em;
  margin: 0 auto;
}
@mixin para-props3{
  font-size: 17px;
  padding:4em 1em 2em 1em;
  margin: 0 auto;
}

.mainpic2{
  margin: 0 0 0 0;
  background-image: url('../img/mainpic2-min.jpg');
  height: 50vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.about{
  padding: 0;
  margin: 0;
  background: #111;
  line-height: 30px;
}

.history{
  height: 50vh;
}

.historytext{
  background: #333;
  font-size: 17px;
  padding: 5em 4em;
  min-height: 50vh;
  margin: 0 auto;
  line-height: 30px;
  a{
    border-bottom: 1px solid #999;
    text-decoration: none;
    color:#c9c9c9;
    font-size: 14px;
  }
}

.historyparag{
  color:#999;
}

.abouttext-header{
  margin-top: -1em;
  color: #555;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 0.4em;
}

.historytext-header{
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 0.2em;
}

.maintext{
  color: #888;
@include para-props;
}

.maintext2{
  color: #888;
  background: #fff;
@include para-props;
}
.hourstext{
  font-size: 17px;
  padding:10em 5em 0 5em;
  margin: 0 auto;
  background: #fff;
  color:#777;
}


.abouttext-para{
  padding-top: 0.6em;
  color: #999;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Old Standard TT', serif;
  font-style: oblique;
}

// MENU

.restaurant-menu{
  width: 300px;
  height: 100px;
  padding: 1em 1em;
  background: rgba(255,255,255, 0.5);
  margin: 10em auto;
  cursor: pointer;
  transition: 1s;
  &:hover{
    margin: 9em auto;
    transition: 1s;
  }
  h1{
    font-size: 27px;
    color:#222;
    font-weight: 600;
    transition: 1s;
    &:hover{
      transition: 1s;
    }
  }
}

// HOURS
.hours{
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
}




.picitem1{
  height: 50vh;
background-image: url('../img/picitem1-min.jpg');
background-size: cover;
background-position: left;
}

.picitem2{
  height: 50vh;
background-image: url('../img/picitem2-min.jpeg');
background-size: cover;
background-position: center;
}

.picitem3{
  margin: 0 0 0 0;
  background-image: url('../img/picitem3-min.jpg');
  height: 50vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

// GOOGLE MAPS

#map {
width:100%;
height: 500px;
    }


// FOOOTER

#contact{
  padding: 7em;
  width: 100%;
  height: 300px;
}

.icons{
  min-width: 250px;
  margin:0 auto;
}

.fab{
  margin: 0 auto;
  color:#333;
  transition: 1s;
  cursor:pointer;
  &:hover{
    transition: 1s;
    color:#666;
  }
}

.con-text{
  margin: 0 auto;
  color:#444;
  font-size: 1em;
  padding: 0 0 2em 0;
  font-weight: 600;
  h1{
    color:#222;
  font-weight: 700;
  }
}

@media(max-width:1245px){
  .maintext{
    color: #888;
  @include para-props2;
  }
  .historytext{
    padding: 4em 1em;
  }
}
@media(max-width:992px){
  .hourstext{
    font-size: 17px;
    padding:4em 5em 2em 5em;
    margin: 0 auto;
    background: #fff;
    color:#777;
  }
  .maintext{
    color: #888;
  @include para-props3;
  }
  .picitem3{
    background: #333;
    min-height: 0vh;
  }
  .historytext{
    padding: 4em 0em;
    min-height: 0vh;
  }

  .con-text{
    text-align: center;

    padding-bottom: 2em;
  }
  #contact{
    padding: 2em 3em;
    width: 100%;
    height: 300px;
  }
}
*/
